Repository pydantic/logfire-js: changes, and which lefthook commands are due for each by the changed paths.
All: format-check, lint, typecheck

format-check:
  run: pnpm run format-check

lint:
  run: pnpm run lint

typecheck:
  run: pnpm run typecheck

fix: add missing package metadata
  packages/logfire-api/package.json
Due: format-check

Capture structured Error.cause data
  .changeset/tame-errors-cause.md
  examples/express/.env.example
  examples/express/app.ts
  packages/logfire-api/src/index.test.ts
  packages/logfire-api/src/index.ts
Due: format-check, lint, typecheck

Fix typo
  examples/express/app.ts
Due: format-check, lint, typecheck

Test complex Error.cause chains
  packages/logfire-api/src/index.test.ts
Due: format-check, lint, typecheck

Remove tracked node example env file
  examples/node/.env
Due: none

Fix express example error handler
  examples/express/app.ts
Due: format-check, lint, typecheck

Add logfire bugs metadata
  .changeset/logfire-bugs-metadata.md
  packages/logfire-api/package.json
Due: format-check

Guard Error.cause metadata normalization
  packages/logfire-api/src/index.test.ts
  packages/logfire-api/src/index.ts
Due: format-check, lint, typecheck

Capture structured Error.cause data (#148)
  .changeset/logfire-bugs-metadata.md
  .changeset/tame-errors-cause.md
  examples/express/.env.example
  examples/express/app.ts
  examples/node/.env
  packages/logfire-api/package.json
  packages/logfire-api/src/index.test.ts
  packages/logfire-api/src/index.ts
Due: format-check, lint, typecheck

chore: update dependency graph for security alerts
  examples/browser/package.json
  examples/express/package.json
  examples/nextjs-bun/package.json
  package.json
  packages/logfire-browser/src/index.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-check, lint, typecheck

chore: add changeset for opentelemetry floor bump
  .changeset/upgrade-opentelemetry-floor.md
  pnpm-workspace.yaml
Due: format-check

chore: reduce dependabot security exposure (#150)
  .changeset/upgrade-opentelemetry-floor.md
  examples/browser/package.json
  examples/express/package.json
  examples/nextjs-bun/package.json
  package.json
  packages/logfire-browser/src/index.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-check, lint, typecheck

Add "Part of the Pydantic Stack" footer to README
  README.md
Due: format-check

Add 'Part of the Pydantic Stack' footer to README (#151)
  README.md
Due: format-check

Add browser RUM session and Web Vitals reporting
  .changeset/browser-rum-session.md
  .changeset/browser-rum-web-vitals-metrics.md
  .changeset/browser-rum-web-vitals.md
  docs/packages/browser.md
  docs/rum-session-replay-prp-roadmap.md
  examples/browser/README.md
  examples/browser/index.html
  examples/browser/src/main.ts
  examples/browser/src/proxy.ts
  packages/logfire-browser/README.md
  packages/logfire-browser/package.json
  packages/logfire-browser/src/BrowserSessionSpanProcessor.test.ts
  packages/logfire-browser/src/BrowserSessionSpanProcessor.ts
  packages/logfire-browser/src/browserMetrics.test.ts
  packages/logfire-browser/src/browserMetrics.ts
  packages/logfire-browser/src/browserSession.test.ts
  packages/logfire-browser/src/browserSession.ts
  packages/logfire-browser/src/index.test.ts
  packages/logfire-browser/src/index.ts
  packages/logfire-browser/src/webVitals.test.ts
  packages/logfire-browser/src/webVitals.ts
  plans/020-browser-rum-foundation.md
  plans/021-browser-rum-web-vitals.md
  plans/022-browser-rum-web-vitals-metrics.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-check, lint, typecheck

Add standalone browser session replay package
  .changeset/session-replay-package.md
  docs/rum-session-replay-prp-roadmap.md
  packages/logfire-session-replay/.gitignore
  packages/logfire-session-replay/README.md
  packages/logfire-session-replay/package.json
  packages/logfire-session-replay/src/capture.test.ts
  packages/logfire-session-replay/src/capture.ts
  packages/logfire-session-replay/src/extract.test.ts
  packages/logfire-session-replay/src/extract.ts
  packages/logfire-session-replay/src/index.test.ts
  packages/logfire-session-replay/src/index.ts
  packages/logfire-session-replay/src/recorder.test.ts
  packages/logfire-session-replay/src/recorder.ts
  packages/logfire-session-replay/src/sampling.test.ts
  packages/logfire-session-replay/src/sampling.ts
  packages/logfire-session-replay/src/session.test.ts
  packages/logfire-session-replay/src/session.ts
  packages/logfire-session-replay/src/transport.test.ts
  packages/logfire-session-replay/src/transport.ts
  packages/logfire-session-replay/src/types.ts
  packages/logfire-session-replay/src/uuid.test.ts
  packages/logfire-session-replay/src/uuid.ts
  packages/logfire-session-replay/src/vite-env.d.ts
  packages/logfire-session-replay/tsconfig.json
  packages/logfire-session-replay/vite.config.ts
  plans/023-standalone-session-replay-package.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-check, lint, typecheck

Keep expected test warnings quiet
  packages/logfire-api/src/vars.test.ts
  packages/logfire-api/src/vars/runtimeComposition.test.ts
  packages/logfire-session-replay/src/capture.test.ts
Due: format-check, lint, typecheck

Integrate browser session replay
  .changeset/browser-session-replay-integration.md
  docs/packages/browser.md
  docs/rum-session-replay-prp-roadmap.md
  examples/browser/README.md
  examples/browser/package.json
  examples/browser/src/main.ts
  examples/browser/src/proxy.ts
  examples/browser/src/vite-env.d.ts
  packages/logfire-browser/README.md
  packages/logfire-browser/package.json
  packages/logfire-browser/src/BrowserSessionSpanProcessor.test.ts
  packages/logfire-browser/src/BrowserSessionSpanProcessor.ts
  packages/logfire-browser/src/browserSession.test.ts
  packages/logfire-browser/src/browserSession.ts
  packages/logfire-browser/src/index.test.ts
  packages/logfire-browser/src/index.ts
  packages/logfire-browser/src/sessionReplay.test.ts
  packages/logfire-browser/src/sessionReplay.ts
  packages/logfire-session-replay/src/capture.test.ts
  packages/logfire-session-replay/src/capture.ts
  packages/logfire-session-replay/src/index.test.ts
  packages/logfire-session-replay/src/index.ts
  packages/logfire-session-replay/src/transport.test.ts
  packages/logfire-session-replay/src/types.ts
  plans/024-browser-session-replay-integration.md
  pnpm-lock.yaml
Due: format-check, lint, typecheck

Add browser RUM replay example and hardening
  docs/packages/browser.md
  docs/rum-session-replay-prp-roadmap.md
  docs/session-replay-integration.md
  examples/browser-rum-replay/.env.example
  examples/browser-rum-replay/.gitignore
  examples/browser-rum-replay/README.md
  examples/browser-rum-replay/index.html
  examples/browser-rum-replay/package.json
  examples/browser-rum-replay/src/main.ts
  examples/browser-rum-replay/src/proxy.ts
  examples/browser-rum-replay/src/vite-env.d.ts
  examples/browser-rum-replay/tsconfig.json
  examples/browser-rum-replay/vite.config.ts
  examples/browser/README.md
  examples/browser/src/main.ts
  examples/browser/vite.config.ts
  packages/logfire-browser/README.md
  packages/logfire-browser/src/index.test.ts
  packages/logfire-browser/src/index.ts
  packages/logfire-browser/src/sessionReplay.ts
  packages/logfire-session-replay/README.md
  packages/logfire-session-replay/src/capture.test.ts
  packages/logfire-session-replay/src/capture.ts
  packages/logfire-session-replay/src/index.test.ts
  packages/logfire-session-replay/src/index.ts
  packages/logfire-session-replay/src/transport.test.ts
  packages/logfire-session-replay/src/transport.ts
  packages/logfire-session-replay/src/types.ts
  plans/024-browser-session-replay-integration.md
  pnpm-lock.yaml
  reports/browser-rum-replay-follow-ups.md
  reports/code-review-browser-rum-replay-63ccc9d.md
  reports/code-review-browser-rum-web-vitals.md
  reports/plan-review-024-browser-session-replay-integration.md
Due: format-check, lint, typecheck

Make replay flush tests deterministic
  packages/logfire-session-replay/src/index.test.ts
  packages/logfire-session-replay/src/transport.test.ts
Due: format-check, lint, typecheck

Allow Web Vitals metrics reconfiguration
  packages/logfire-browser/src/index.test.ts
  packages/logfire-browser/src/index.ts
  packages/logfire-browser/src/webVitals.test.ts
  packages/logfire-browser/src/webVitals.ts
  plans/022-browser-rum-web-vitals-metrics.md
  reports/browser-rum-replay-follow-ups.md
Due: format-check, lint, typecheck

Remove internal planning artifacts from PR
  docs/rum-session-replay-prp-roadmap.md
  docs/session-replay-integration.md
  plans/020-browser-rum-foundation.md
  plans/021-browser-rum-web-vitals.md
  plans/022-browser-rum-web-vitals-metrics.md
  plans/023-standalone-session-replay-package.md
  plans/024-browser-session-replay-integration.md
  reports/browser-rum-replay-follow-ups.md
  reports/code-review-browser-rum-replay-63ccc9d.md
  reports/code-review-browser-rum-web-vitals.md
  reports/plan-review-024-browser-session-replay-integration.md
Due: format-check

Fix Cloudflare Worker DO proxy bindings
  packages/otel-cf-workers/src/index.ts
  packages/otel-cf-workers/src/instrumentation/do.ts
  packages/otel-cf-workers/test/import.test.ts
  packages/otel-cf-workers/test/instrumentation/do.test.ts
Due: format-check, lint, typecheck

Address Cloudflare instrumentation review fixes
  packages/otel-cf-workers/src/instrumentation/analytics-engine.ts
  packages/otel-cf-workers/src/instrumentation/do.ts
  packages/otel-cf-workers/src/instrumentation/kv.ts
  packages/otel-cf-workers/src/multiexporter.ts
  packages/otel-cf-workers/src/tracer.ts
  packages/otel-cf-workers/test/instrumentation/analytics-engine.test.ts
  packages/otel-cf-workers/test/instrumentation/do.test.ts
  packages/otel-cf-workers/test/instrumentation/kv.test.ts
  packages/otel-cf-workers/test/multiexporter.test.ts
Due: format-check, lint, typecheck

Ensure waitUntilTrace ends spans on errors
  packages/otel-cf-workers/src/instrumentation/fetch.ts
  packages/otel-cf-workers/test/instrumentation/fetch.test.ts
Due: format-check, lint, typecheck

Address Cloudflare instrumentation review feedback
  docs/packages/cloudflare.md
  packages/logfire-cf-workers/README.md
  packages/logfire-cf-workers/src/index.test.ts
  packages/logfire-cf-workers/src/index.ts
  packages/logfire-cf-workers/src/vite-env.d.ts
  packages/otel-cf-workers/src/instrumentation/cache.ts
  packages/otel-cf-workers/src/instrumentation/do-storage.ts
  packages/otel-cf-workers/src/instrumentation/do.ts
  packages/otel-cf-workers/src/instrumentation/fetch.ts
  packages/otel-cf-workers/src/instrumentation/kv.ts
  packages/otel-cf-workers/test/instrumentation/do.test.ts
  packages/otel-cf-workers/test/instrumentation/fetch.test.ts
  packages/otel-cf-workers/test/instrumentation/kv.test.ts
  vite.config.ts
Due: format-check, lint, typecheck

Remove PR planning artifacts
  plans/020-old-otel-cf-workers-readme.md
  plans/020-otel-cf-workers-monorepo.md
Due: format-check

Support OpenTelemetry logs processor constructor changes
  .changeset/soft-clouds-logs-sdk.md
  packages/logfire-node/src/__test__/logsExporter.test.ts
  packages/logfire-node/src/logsExporter.ts
Due: format-check, lint, typecheck

Support OpenTelemetry logs SDK constructor changes (#156)
  .changeset/soft-clouds-logs-sdk.md
  packages/logfire-node/src/__test__/logsExporter.test.ts
  packages/logfire-node/src/logsExporter.ts
Due: format-check, lint, typecheck

Make Cloudflare header capture opt-in
  .changeset/calm-headers-warn.md
  packages/logfire-cf-workers/README.md
  packages/otel-cf-workers/README.md
  packages/otel-cf-workers/src/config.ts
  packages/otel-cf-workers/src/instrumentation/do.ts
  packages/otel-cf-workers/src/instrumentation/fetch.ts
  packages/otel-cf-workers/src/types.ts
  packages/otel-cf-workers/test/instrumentation/do.test.ts
  packages/otel-cf-workers/test/instrumentation/fetch.test.ts
  plans/021-cf-worker-header-capture-config.md
Due: format-check, lint, typecheck

Address header capture docs nitpicks
  packages/logfire-cf-workers/README.md
  packages/otel-cf-workers/src/instrumentation/fetch.ts
Due: format-check, lint, typecheck

Honor header capture for service bindings
  packages/otel-cf-workers/src/instrumentation/service.ts
  packages/otel-cf-workers/test/instrumentation/service.test.ts
  plans/021-cf-worker-header-capture-config.md
Due: format-check, lint, typecheck

Accumulate repeated captured headers
  packages/otel-cf-workers/src/instrumentation/fetch.ts
  packages/otel-cf-workers/test/instrumentation/fetch.test.ts
  plans/021-cf-worker-header-capture-config.md
Due: format-check, lint, typecheck

Make Cloudflare header capture opt-in (#159)
  .changeset/calm-headers-warn.md
  packages/logfire-cf-workers/README.md
  packages/otel-cf-workers/README.md
  packages/otel-cf-workers/src/config.ts
  packages/otel-cf-workers/src/instrumentation/do.ts
  packages/otel-cf-workers/src/instrumentation/fetch.ts
  packages/otel-cf-workers/src/instrumentation/service.ts
  packages/otel-cf-workers/src/types.ts
  packages/otel-cf-workers/test/instrumentation/do.test.ts
  packages/otel-cf-workers/test/instrumentation/fetch.test.ts
  packages/otel-cf-workers/test/instrumentation/service.test.ts
  plans/021-cf-worker-header-capture-config.md
Due: format-check, lint, typecheck

Path conditions:
  format-check: any of: *.{js,ts,mjs,mts,json,md,yaml,yml}
  lint: any of: *.{js,ts,mjs,mts}
  typecheck: any of: *.{ts,mts}
