Repository pydantic/logfire-js: changes, and which lefthook commands are due for each by the changed paths.
All: format-check, lint, typecheck

format-check:
  run: pnpm run format-check

lint:
  run: pnpm run lint

typecheck:
  run: pnpm run typecheck

Add browser RUM session and Web Vitals reporting
  .changeset/browser-rum-session.md
  .changeset/browser-rum-web-vitals-metrics.md
  .changeset/browser-rum-web-vitals.md
  docs/packages/browser.md
  docs/rum-session-replay-prp-roadmap.md
  examples/browser/README.md
  examples/browser/index.html
  examples/browser/src/main.ts
  examples/browser/src/proxy.ts
  packages/logfire-browser/README.md
  packages/logfire-browser/package.json
  packages/logfire-browser/src/BrowserSessionSpanProcessor.test.ts
  packages/logfire-browser/src/BrowserSessionSpanProcessor.ts
  packages/logfire-browser/src/browserMetrics.test.ts
  packages/logfire-browser/src/browserMetrics.ts
  packages/logfire-browser/src/browserSession.test.ts
  packages/logfire-browser/src/browserSession.ts
  packages/logfire-browser/src/index.test.ts
  packages/logfire-browser/src/index.ts
  packages/logfire-browser/src/webVitals.test.ts
  packages/logfire-browser/src/webVitals.ts
  plans/020-browser-rum-foundation.md
  plans/021-browser-rum-web-vitals.md
  plans/022-browser-rum-web-vitals-metrics.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-check, lint, typecheck

Make replay flush tests deterministic
  packages/logfire-session-replay/src/index.test.ts
  packages/logfire-session-replay/src/transport.test.ts
Due: format-check, lint, typecheck

Prepare browser RUM alpha release
  .changeset/pre.json
  .github/workflows/alpha-release.yml
  examples/nextjs-client-side-instrumentation/CHANGELOG.md
  examples/nextjs-client-side-instrumentation/package.json
  packages/logfire-browser/CHANGELOG.md
  packages/logfire-browser/package.json
  packages/logfire-session-replay/CHANGELOG.md
  packages/logfire-session-replay/package.json
Due: format-check

Harden alpha publish workflow
  .github/workflows/alpha-release.yml
Due: format-check

Remove internal planning artifacts from PR
  docs/rum-session-replay-prp-roadmap.md
  docs/session-replay-integration.md
  plans/020-browser-rum-foundation.md
  plans/021-browser-rum-web-vitals.md
  plans/022-browser-rum-web-vitals-metrics.md
  plans/023-standalone-session-replay-package.md
  plans/024-browser-session-replay-integration.md
  reports/browser-rum-replay-follow-ups.md
  reports/code-review-browser-rum-replay-63ccc9d.md
  reports/code-review-browser-rum-web-vitals.md
  reports/plan-review-024-browser-session-replay-integration.md
Due: format-check

Allow Web Vitals metrics reconfiguration
  packages/logfire-browser/src/index.test.ts
  packages/logfire-browser/src/index.ts
  packages/logfire-browser/src/webVitals.test.ts
  packages/logfire-browser/src/webVitals.ts
  plans/022-browser-rum-web-vitals-metrics.md
  reports/browser-rum-replay-follow-ups.md
Due: format-check, lint, typecheck

Finalize browser RUM lifecycle alpha
  .changeset/pre.json
  docs/packages/browser.md
  examples/browser-rum-replay/package.json
  examples/browser-rum-replay/src/main.ts
  examples/nextjs-client-side-instrumentation/CHANGELOG.md
  examples/nextjs-client-side-instrumentation/package.json
  packages/logfire-browser/CHANGELOG.md
  packages/logfire-browser/README.md
  packages/logfire-browser/package.json
  packages/logfire-browser/src/BrowserSessionSpanProcessor.test.ts
  packages/logfire-browser/src/BrowserSessionSpanProcessor.ts
  packages/logfire-browser/src/index.test.ts
  packages/logfire-browser/src/index.ts
  packages/logfire-browser/src/sessionReplay.test.ts
  packages/logfire-browser/src/webVitals.test.ts
  packages/logfire-browser/src/webVitals.ts
  pnpm-lock.yaml
Due: format-check, lint, typecheck

Publish corrected browser RUM alpha packages
  .github/workflows/alpha-release.yml
  examples/nextjs-client-side-instrumentation/CHANGELOG.md
  examples/nextjs-client-side-instrumentation/package.json
  packages/logfire-browser/CHANGELOG.md
  packages/logfire-browser/package.json
  packages/logfire-session-replay/CHANGELOG.md
  packages/logfire-session-replay/package.json
Due: format-check

Avoid failing alpha workflow on first replay latest tag
  .github/workflows/alpha-release.yml
Due: format-check

Tighten alpha npm release tooling
  .github/workflows/alpha-release.yml
  scripts/create-npm-token.sh
Due: format-check

Prepare browser RUM stable release
  .changeset/config.json
  .changeset/pre.json
  .changeset/stable-browser-rum-lifecycle.md
  .github/workflows/alpha-release.yml
  AGENTS.md
  docs/packages/browser.md
  packages/logfire-browser/README.md
  packages/logfire-browser/package.json
  packages/logfire-browser/src/BrowserSessionSpanProcessor.test.ts
  packages/logfire-browser/src/BrowserSessionSpanProcessor.ts
  packages/logfire-browser/src/index.test.ts
  packages/logfire-browser/src/index.ts
  packages/logfire-browser/src/sessionReplay.test.ts
  packages/logfire-browser/src/sessionReplay.ts
  packages/logfire-browser/src/webVitals.test.ts
  packages/logfire-browser/src/webVitals.ts
  packages/logfire-session-replay/README.md
  packages/logfire-session-replay/src/capture.test.ts
  packages/logfire-session-replay/src/capture.ts
  packages/logfire-session-replay/src/index.test.ts
  packages/logfire-session-replay/src/index.ts
  packages/logfire-session-replay/src/recorder.test.ts
  packages/logfire-session-replay/src/recorder.ts
  packages/logfire-session-replay/src/transport.test.ts
  packages/logfire-session-replay/src/transport.ts
  packages/logfire-session-replay/src/types.ts
  plans/022-browser-rum-stable-release.md
Due: format-check, lint, typecheck

fix(browser): contain replay failures and bound backpressure
  packages/logfire-browser/src/BrowserSessionSpanProcessor.test.ts
  packages/logfire-browser/src/BrowserSessionSpanProcessor.ts
  packages/logfire-browser/src/browserConfigure.integration.test.ts
  packages/logfire-browser/src/browserMetrics.integration.test.ts
  packages/logfire-browser/src/browserMetrics.test.ts
  packages/logfire-browser/src/browserMetrics.ts
  packages/logfire-browser/src/browserSession.test.ts
  packages/logfire-browser/src/browserSession.ts
  packages/logfire-browser/src/index.test.ts
  packages/logfire-browser/src/index.ts
  packages/logfire-browser/src/sessionReplay.test.ts
  packages/logfire-browser/src/sessionReplay.ts
  packages/logfire-session-replay/README.md
  packages/logfire-session-replay/src/capture.test.ts
  packages/logfire-session-replay/src/capture.ts
  packages/logfire-session-replay/src/index.test.ts
  packages/logfire-session-replay/src/index.ts
  packages/logfire-session-replay/src/session.test.ts
  packages/logfire-session-replay/src/session.ts
  packages/logfire-session-replay/src/transport.test.ts
  packages/logfire-session-replay/src/transport.ts
  plans/026-browser-failure-containment.md
  plans/roadmaps/001-browser-rum-release-remediation.md
Due: format-check, lint, typecheck

feat(browser): adopt privacy-safe telemetry defaults
  .changeset/browser-replay-privacy-defaults.md
  docs/packages/browser.md
  examples/browser-rum-replay/README.md
  examples/browser-rum-replay/src/main.ts
  packages/logfire-browser/README.md
  packages/logfire-browser/src/BrowserSessionSpanProcessor.test.ts
  packages/logfire-browser/src/browserSession.ts
  packages/logfire-browser/src/index.test.ts
  packages/logfire-browser/src/sessionReplay.test.ts
  packages/logfire-browser/src/sessionReplay.ts
  packages/logfire-browser/test-fixtures/privacy-defaults/index.html
  packages/logfire-browser/test-fixtures/privacy-defaults/main.ts
  packages/logfire-browser/test-fixtures/privacy-defaults/recorder.d.ts
  packages/logfire-browser/test-fixtures/privacy-defaults/verify.mjs
  packages/logfire-browser/test-fixtures/privacy-defaults/vite.config.ts
  packages/logfire-browser/test-fixtures/self-observation/main.ts
  packages/logfire-browser/test-fixtures/self-observation/recorder.d.ts
  packages/logfire-session-replay/README.md
  packages/logfire-session-replay/src/capture.test.ts
  packages/logfire-session-replay/src/capture.ts
  packages/logfire-session-replay/src/index.test.ts
  packages/logfire-session-replay/src/index.ts
  packages/logfire-session-replay/src/privacy.test.ts
  packages/logfire-session-replay/src/privacy.ts
  packages/logfire-session-replay/src/recorder.test.ts
  packages/logfire-session-replay/src/recorder.ts
  packages/logfire-session-replay/src/transport.test.ts
  packages/logfire-session-replay/src/types.ts
  plans/027-browser-privacy-defaults.md
  plans/research/027-browser-privacy-defaults/spike-01-rrweb-universal-text-mask.md
  plans/roadmaps/001-browser-rum-release-remediation.md
  reports/pr-161-platform-privacy-handoff.md
Due: format-check, lint, typecheck

feat(browser): finalize optional feature lifecycle API
  .changeset/browser-optional-feature-api.md
  docs/packages/browser.md
  packages/logfire-browser/README.md
  packages/logfire-browser/src/BrowserSessionSpanProcessor.test.ts
  packages/logfire-browser/src/browserConfigure.integration.test.ts
  packages/logfire-browser/src/browserMetrics.integration.test.ts
  packages/logfire-browser/src/browserOptionalFeatureApi.integration.test.ts
  packages/logfire-browser/src/browserSession.ts
  packages/logfire-browser/src/index.test.ts
  packages/logfire-browser/src/index.ts
  packages/logfire-browser/src/sessionReplay.test.ts
  packages/logfire-browser/src/sessionReplay.ts
  packages/logfire-browser/src/webVitals.test.ts
  packages/logfire-browser/src/webVitals.ts
  packages/logfire-browser/test-fixtures/optional-feature-api/index.html
  packages/logfire-browser/test-fixtures/optional-feature-api/main.ts
  packages/logfire-browser/test-fixtures/optional-feature-api/tsconfig.json
  packages/logfire-browser/test-fixtures/optional-feature-api/verify.mjs
  packages/logfire-browser/test-fixtures/optional-feature-api/vite.config.ts
  packages/logfire-browser/test-fixtures/optional-feature-api/webVitalsRecorder.ts
  packages/logfire-session-replay/src/index.test.ts
  packages/logfire-session-replay/src/recorder.test.ts
  packages/logfire-session-replay/src/recorder.ts
  packages/logfire-session-replay/src/transport.test.ts
  packages/logfire-session-replay/src/transport.ts
  packages/logfire-session-replay/src/types.ts
  plans/028-browser-optional-feature-api.md
  plans/research/roadmaps/001-browser-rum-release-remediation/spike-05-public-replay-lifecycle-handle.md
  plans/roadmaps/001-browser-rum-release-remediation.md
Due: format-check, lint, typecheck

fix(browser): harden development proxy examples
  .changeset/browser-proxy-example-safety.md
  docs/packages/browser.md
  examples/browser-rum-replay/README.md
  examples/browser-rum-replay/index.html
  examples/browser-rum-replay/package.json
  examples/browser-rum-replay/src/main.ts
  examples/browser-rum-replay/src/proxy.test.ts
  examples/browser-rum-replay/src/proxy.ts
  examples/browser-rum-replay/src/vite-env.d.ts
  examples/browser-rum-replay/test-fixtures/proxy-example-safety/server.mjs
  examples/browser-rum-replay/vite.config.ts
  examples/browser/.env.example
  examples/browser/README.md
  examples/browser/index.html
  examples/browser/package.json
  examples/browser/src/main.ts
  examples/browser/src/proxy.test.ts
  examples/browser/src/proxy.ts
  examples/browser/src/proxySupport.ts
  examples/browser/src/proxyTestContract.ts
  examples/browser/src/vite-env.d.ts
  examples/browser/vite.config.ts
  packages/logfire-browser/README.md
  plans/029-browser-proxy-example-safety.md
  plans/030-browser-release-integrity.md
  plans/research/030-browser-release-integrity/spike-01-changesets-exit-artifacts.md
  plans/roadmaps/001-browser-rum-release-remediation.md
  pnpm-lock.yaml
Due: format-check, lint, typecheck

fix(release): secure browser stable release tooling
  .changeset/browser-rum-lifecycle.md
  .github/workflows/main.yml
  examples/nextjs/package.json
  package.json
  packages/logfire-browser/src/BrowserSessionSpanProcessor.test.ts
  packages/logfire-browser/src/index.test.ts
  packages/logfire-browser/src/sessionReplay.test.ts
  packages/logfire-browser/src/webVitals.test.ts
  packages/logfire-session-replay/src/capture.test.ts
  packages/logfire-session-replay/src/index.test.ts
  packages/logfire-session-replay/src/recorder.test.ts
  packages/logfire-session-replay/src/transport.test.ts
  plans/030-browser-release-integrity.md
  plans/roadmaps/001-browser-rum-release-remediation.md
  scripts/create-npm-token.sh
  scripts/create-npm-token.test.mjs
  scripts/verify-browser-release-plan.mjs
Due: format-check, lint, typecheck

test(release): verify browser package artifacts
  plans/031-browser-stable-release-runbook.md
  plans/roadmaps/001-browser-rum-release-remediation.md
  scripts/verify-browser-release-artifacts.mjs
Due: format-check, lint

fix(ci): run release tooling without pnpm
  .github/workflows/main.yml
Due: format-check

fix(browser): address release review findings
  examples/browser/src/vite-env.d.ts
  packages/logfire-session-replay/src/recorder.test.ts
  packages/logfire-session-replay/src/recorder.ts
  packages/logfire-session-replay/test-fixtures/delivery/vite.config.ts
  scripts/verify-browser-release-artifacts.mjs
Due: format-check, lint, typecheck

fix(browser): harden replay release safety
  docs/packages/browser.md
  examples/browser-rum-replay/README.md
  examples/browser/README.md
  examples/browser/package.json
  examples/browser/src/main.ts
  packages/logfire-browser/README.md
  packages/logfire-browser/src/browserMetrics.test.ts
  packages/logfire-browser/src/browserMetrics.ts
  packages/logfire-browser/src/browserSession.ts
  packages/logfire-session-replay/src/index.test.ts
  packages/logfire-session-replay/src/index.ts
  packages/logfire-session-replay/src/transport.test.ts
  packages/logfire-session-replay/src/transport.ts
  pnpm-lock.yaml
Due: format-check, lint, typecheck

fix(ci): restrict build token permissions
  .github/workflows/main.yml
Due: format-check

docs(release): record browser stable publication
  plans/031-browser-stable-release-runbook.md
  plans/roadmaps/001-browser-rum-release-remediation.md
Due: format-check

docs(release): clarify metadata recovery
  plans/roadmaps/001-browser-rum-release-remediation.md
Due: format-check

Record browser stable release evidence (#163)
  plans/031-browser-stable-release-runbook.md
  plans/roadmaps/001-browser-rum-release-remediation.md
Due: format-check

docs(release): record final cleanup gate
  plans/031-browser-stable-release-runbook.md
  plans/roadmaps/001-browser-rum-release-remediation.md
Due: format-check

Revert "docs(release): record final cleanup gate"
  plans/031-browser-stable-release-runbook.md
  plans/roadmaps/001-browser-rum-release-remediation.md
Due: format-check

Restore the reviewed R9 cleanup path (#164)
  plans/031-browser-stable-release-runbook.md
  plans/roadmaps/001-browser-rum-release-remediation.md
Due: format-check

docs(release): add recovery review evidence
  plans/031-browser-stable-release-runbook.md
  plans/roadmaps/001-browser-rum-release-remediation.md
Due: format-check

docs(release): supersede stalled cleanup review
  plans/031-browser-stable-release-runbook.md
  plans/roadmaps/001-browser-rum-release-remediation.md
Due: format-check

docs(release): clarify recovery state
  plans/031-browser-stable-release-runbook.md
Due: format-check

Record final browser stable release cleanup (#166)
  plans/031-browser-stable-release-runbook.md
  plans/roadmaps/001-browser-rum-release-remediation.md
Due: format-check

Make Node configure() re-runs deterministic
  .changeset/node-reconfigure-emission-loss.md
  packages/logfire-node/src/VoidMetricExporter.ts
  packages/logfire-node/src/VoidTraceExporter.ts
  packages/logfire-node/src/__test__/reconfigure.integration.test.ts
  packages/logfire-node/src/__test__/sdk.test.ts
  packages/logfire-node/src/__test__/voidExporters.test.ts
  packages/logfire-node/src/sdk.ts
  plans/032-node-reconfigure-emission-loss.md
  plans/research/032-node-reconfigure-emission-loss/spike-01-sequential-reconfigure-repro.md
Due: format-check, lint, typecheck

Keep reused instrumentation instances enabled across configure() re-runs
  packages/logfire-node/src/__test__/reconfigure.integration.test.ts
  packages/logfire-node/src/__test__/sdk.test.ts
  packages/logfire-node/src/sdk.ts
  plans/032-node-reconfigure-emission-loss.md
Due: format-check, lint, typecheck

Document the deliberate attempt-based OTel globals ownership marker
  packages/logfire-node/src/sdk.ts
  plans/032-node-reconfigure-emission-loss.md
Due: format-check, lint, typecheck

Make Node configure() re-runs deterministic (#168)
  .changeset/node-reconfigure-emission-loss.md
  packages/logfire-node/src/VoidMetricExporter.ts
  packages/logfire-node/src/VoidTraceExporter.ts
  packages/logfire-node/src/__test__/reconfigure.integration.test.ts
  packages/logfire-node/src/__test__/sdk.test.ts
  packages/logfire-node/src/__test__/voidExporters.test.ts
  packages/logfire-node/src/sdk.ts
  plans/032-node-reconfigure-emission-loss.md
  plans/research/032-node-reconfigure-emission-loss/spike-01-sequential-reconfigure-repro.md
Due: format-check, lint, typecheck

docs: update Vercel AI SDK v7 telemetry setup
  docs/frameworks/vercel-ai.md
Due: format-check

docs: address Vercel AI telemetry review
  docs/frameworks/vercel-ai.md
Due: format-check

Path conditions:
  format-check: any of: *.{js,ts,mjs,mts,json,md,yaml,yml}
  lint: any of: *.{js,ts,mjs,mts}
  typecheck: any of: *.{ts,mts}
